@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 90vh;
    background-color:#af3d3b;
    margin-top: 25px;
    transition: 0.5s ease-in;
}


body.zoid{
    background-color: #2f2a2a;
    transition: 0.5s ease-in;
}

.cards{
    display: flex;
    flex-direction: row;
    width: 90vw;
}

.card{
    position: relative;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    cursor: pointer;
    color:#bd1613;
    flex: 0.5;
    margin: 5px;
    transition: flex 0.7s ease-in;
    border-radius: 20px;
    /* backdrop-filter: blur(5px); */
}

.card h4{
    font-family: 'Lato', sans-serif;
    background-color:white;
    position: absolute;
    font-size: 32px;
    bottom: 20px;
    left: 50px;
    opacity: 0;
}

.card.active{
    flex: 1.5;
}

.card.active h4{
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
    transition: 0.9s ease-in-out;


}

@media (max-width: 480px)  {
    .cards{
        width: 100vh;
    }
    .card:nth-of-type(6),
    .card:nth-of-type(7),
    .card:nth-of-type(8){
        display: none;
    }
}